.portlet-admin {
	.server-admin-tabs {
		margin-top: 20px;
	}

	.meter-wrapper img {
		margin: 0 70px;
	}

	.memory-status-table {
		margin: auto;
	}

	.panel-body .loading-animation {
		margin-bottom: 12px;
		margin-top: 12px;
	}

	.progress-percentage {
		color: black;
		display: block;
		position: absolute;
		width: 100%;
	}

	.server-admin-actions-panel .panel-body {
		padding: 0;
	}

	.server-status-container {
		padding: 20px;
	}

	.system-action-group {
		margin-bottom: 0;

		li {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.production-readiness-dashboard {
	.production-readiness-dot {
		border-radius: 50%;
		display: inline-block;
		height: 8px;
		width: 8px;

		&.production-readiness-dot-failed {
			background-color: #da1414;
		}

		&.production-readiness-dot-ignored {
			background-color: #6b6c7e;
		}

		&.production-readiness-dot-passed {
			background-color: #287d3c;
		}
	}

	.production-readiness-rule {
		border-bottom: 1px solid #e7e7ed;

		&:last-child {
			border-bottom: 0;
		}
	}

	.production-readiness-section {
		.panel-header {
			background-color: #f7f8f9;
			width: 100%;

			.panel-title {
				font-size: 0.875rem;
				text-transform: uppercase;
			}
		}

		.panel-unstyled {
			border: 0;
		}
	}
}
